@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  background: #f0e6f6; /* Fondo pastel */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #333;
  transition: all 0.25s ease-in-out;
}

#password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: #f0e6f6; /* Fondo pastel */
}

#password-container h2 {
  margin-bottom: 20px;
  color: #6c63ff; /* Color pastel */
}

#password-container input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #6c63ff; /* Borde pastel */
  margin-bottom: 10px;
  background: #fff;
  color: #333;
}

#password-container button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background: #6c63ff; /* Color pastel */
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
}

#password-container button:hover {
  background: #5a52cc; /* Color pastel más oscuro */
}

#content {
  display: none;
}

.card {
  background: #fff;
  border-radius: 8px;
  width: 90vw; /* Máximo 90% del ancho de la pantalla */
  max-width: 600px; /* Ancho máximo */
  height: 90vh; /* Máximo 90% de la altura de la pantalla */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

img.birthday {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho */
  height: 40vh; /* Asigna un 40% de la altura de la pantalla para la imagen */
  object-fit: cover; /* Asegura que la imagen no se recorte ni distorsione */
  border-radius: 8px 8px 0 0; /* Bordes redondeados en la parte superior */
}

.text {
  padding: 1em;
  color: #333;
  font-size: 1rem; /* Ajuste base del texto */
  line-height: 1.5;
  overflow-y: auto; /* Desplazamiento vertical para texto largo */
  flex: 1; /* Rellena el espacio disponible debajo de la imagen */
}

.muted {
  opacity: 0.8;
  font-size: 0.9rem;
  color: #6c63ff; /* Color pastel */
}

/* Media Queries */
@media (max-width: 768px) {
  .text {
    font-size: 0.9rem; /* Texto más pequeño en pantallas medianas */
  }
}

@media (max-width: 480px) {
  .text {
    font-size: 0.8rem; /* Texto más compacto en pantallas pequeñas */
  }
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body.play-music {
  animation: fadeIn 2s ease-in-out;
}